.container
	.pal.clear
		#left
			.prl
				.section
					.option.selected
						.pam
							%i.icon-rss.prs
							Feed
					.option
						.pam
							%i.icon-comment-alt.prs
							Messages
					.option
						.pam
							%i.icon-desktop.prs
							Games
					.option
						.pam
							%i.icon-film.prs
							Videos
		#right
			.section
				.user
					.thumbnail
				.content
					.phm.pvs
						Paul Jovanovic bought
						.phl.ptl
							.sub-content-left.prm
								.thumbnail-small
							.sub-content-right
								.pam
									Borderlands 2
