a {
	text-decoration: none;
}

body {
	padding:0;
	margin:0;
	text-align:center;
	font-family: helvetica;
}

.container {
	margin: auto;
	width: 1024px;
	text-align: left;
}

#navbar {
	color: #FFF;
	font-size: 24px;
	background-color: #1BCDE0;
	border-bottom: solid 1px #09C2D6;
	line-height: 24px;
}

#navbar a {
	color: #fff;
}

#navbar .icon + .icon{
	border-left: solid 1px #eee;
}

#navbar .thumbnail {
	float:left;
	width: 24px;
	height: 24px;
	border: solid 1px #888;
}

#left {
	float: left;
	width: 240px;
	font-size: 18px;
}

#left .option {
	border: solid 1px #E4ECED;
	border-bottom: solid 1px #CFD3D4;
}

#left .option:hover {
	background-color: #F0F7F7;
}

#left .option.selected {
	background-color: #BCC2C2;
	color: #fff;
}

#right {
	float: right;
	width: 744px;
}

#right .section {
	padding: 10px;
	border:solid 1px #E4ECED;
	background-color: #F0F7F7;
}

#right .section:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#right .section .user {
	float: left;
}

#right .section .content {
	float:left;
	width:642px;
}

#right .section .thumbnail {
	width: 78px;
	height: 78px;
	border: solid 1px #888;
}

#right .section .thumbnail-small {
	width: 36px;
	height: 36px;
	border: solid 1px #888;	
}

#right .section .sub-content-left {
	float:left;
	width:38px;
}

#right .section .sub-content-left {
	float:left;
}

#right .section .sub-content-right:after {
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#right .section .story {

}

#signin {
	background-color: #123456;
	width: 400px;
	height: 420px;
	border: solid 1px #000;
}

/* Utilities */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear:after {
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}